[Unit]
Description=auto start apply_clicks_counter

[Service]
ExecStartPre=cd /root/apply_clicks_counter
ExecStart=./auto_load.sh
Type=oneshot
User=root


[Install]
WantedBy=multi-user.target
